/* Menu: */
html, body, footer {margin: 0;
padding: 0;}

body {
	min-width: 1000px;
}

.menu .logo img{
	padding-top: 10px;
	height: 70px;
}


.menu {
	height: 85px;
	top: 0;
	width: 100%;
	margin: auto;
	position: fixed;
	background-color: white;
	z-index: 1;
	border-bottom: 1px solid #DFDFDF;
}

.menu ul{
	width: 900px;
	margin: auto;
}

.menu ul li {
	width: 160px;
	font-family: BirchStd;
	font-size: 40px;
	color: #FFFFFF;
	display: inline-block;
	text-align: center;

}

.nav {
	position: relative;
	top: -20px;
	width: 300px;
}

.active {
	position: relative;
	top: -20px;
	padding-bottom: 10px;
	border-bottom: solid 2px black;
	width: 300px;

}

a { color:black; text-decoration: none;}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: #9C8888; }
a:focus { text-decoration: none; color:red; }
/* Main: */

.no1 {

	/*border-top: 1px solid #DFDFDF;*/
	width: 100%;
	height: 640px;
	position: relative;
	top:78px;
	background-image: url("no1-2.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 70%;
}

.no1 img{
	position: relative;
	height: 600px;
	float: right;
	right: 10%;
	top: 0px;
	display: inline-block;
}

.no1 h3{
	position: relative;
	font-family: ACaslonPro-Regular;
	font-size: 30px;
	color: #000000;
	display: inline;
	margin-top: 0px;
}

.no1 h1{
	position: relative;
	font-family: ACaslonPro-Regular;
	color: #000000;
	display: inline;
}

.text1 {
	position: absolute;
	width: 500px;
	display: block;
	top: 60px;
	left: 10%;
}


.text1 h3{
	display: block;
}

.text1 button{
	display: block;
}


.small {
	
	font-size: 40px;
	font-style: regular;
}

.big {
	
	font-size: 250px;
	padding: 0px;
	margin: 0px;
}


.no2 {
	height: 700px;
	border-top: 1px solid #DFDFDF;
	width: 100%;
	position: relative;
	top: 78px;
	background-image: url("no2.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.no2 img{
	position: relative;
	height: 600px;
	float: left;
	left: 100px;
	top:0 ;

}

.no2 h1{
	position: relative;
	font-family: ACaslonPro-Regular;
	font-size: 80px;
	color: #000000;
	display: inline;
}

.no2 h3{
	position: relative;
	font-family: ACaslonPro-Regular;
	font-size: 30px;
	color: #000000;
	display: inline;
}

.text2 {
	position: absolute;
	width: 500px;
	display: block;
	top: 60px;
	right: 8%;
}


.text2 h3{
	display: block;
}

.text2 button{
	display: block;
}


/* Kontakt: */
.karta {
	position: absolute;
	top: 200px;
	width: 800px;
	height: 550px;
	margin: 0 auto;
	display: block;

}

.karta iframe{
	margin: 0 auto;
	width: 800px;
	height: 550px;
}

/* Bryggeriet: */
.kontakt {
	position: relative;
	display: block;
	top: 178px;
	width: 50%;
	margin: 0 auto ;}

.kontakt p{
	position: relative;
	font-family: ACaslonPro-Regular;
	font-size: 30px;
	color: #000000;
	display: inline;
}

footer {
	width: 100%;
	background-color: white;
	position: relative;
	/*left: -10px;*/
	bottom: -24px;
/*	display: block;*/
	text-align: center;
	font-family: BirchStd;
	font-size: 40px;
	padding-top: 5px;
}

button {
	/* Rectangle 9: */
background: #000000;
border: 1px solid #000000;
box-shadow: 1px 1px 12px 5px rgba(134,134,134,0.50);
border-radius: 11px;
width: 220px;
height: 50px;
/* Visa på systembolage: */
font-family: LucidaGrande-Bold;
font-size: 20px;
color: #FFFFFF;
margin-left: 25%;
}

/*mobilt*/

@media (max-width: 920px){
.text1 {
	/*background-color: red;*/
	width: 500px

	}

.no1 h3{
	font-size: 40px;
}
	.text1 button{
	width: 330px;
	height:  75px;
}

}



/*@media screen and  (max-width: 600px){
.text1 {
	width: 400px
	}
}*/


.instagram {
	float: center;
	top: 200px;
	position: relative;
	width: 960px;
	margin: 0 auto;

}

#Instafeed img {width: 300px;
padding: 10px;}
